body{
    background-color: whitesmoke;
}
#main{
    text-align: center;
    padding: 2rem 3rem;
    margin: 0 30px;
}

#title  {
margin-bottom: 20px;
}

#img-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#image{
    
    display: block;
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: auto;
    align-self: center;

}
#img-caption{
    margin-top: 15px;
    display: block;
}

